.tableContainer {
  display: grid;
  grid-template-rows: 10% 90%;

  width: 100%;
  height: 50vh;

  background: white;
  margin: 16px 0;
  border-radius: 8px;
  border: 2px darkblue solid;
}

.tableHead {
  display: grid;
  padding: 0 8px;
  border-bottom: 1px solid darkblue;
}

.tableBody {
  overflow-y: auto;
  overflow-x: hidden;
}

.tableBody .row {
  padding: 8px 16px;
  /** hack to have the scrollbar not shift stuff */
  margin-right: calc(-1 * (var(--country-table-width) - 100%))
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tableCell {
  height: fit-content;
  align-self: center;
}

.code {
  justify-self: center;
  margin-right: -16px;
}

.countryName {
  display: flex;
}

.countryName span {
  margin-left: 8px;
}

.tableBody:has(.tableCell) .defaultState {
  display: none;
}

@media only screen and (max-width: 700px) {
  .tableBody .row {
    /** hack does not work for mobile */
    margin-right: 0;
  }
}