.App {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, rgba(0,198,255,1) 0%, rgba(0,159,255,1) 50%);
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}

.App-header > * {
  margin: 20px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body-wrapper {
  width: var(--country-table-width);
}

.inputArea span {
  color: ghostwhite;
  font-weight: bold;
}

.inputArea input {
  color: darkblue;
  border: 1px black solid;
  border-radius: 4px;
}

.inputArea input:focus {
  border: 1px darkblue solid;
}

@media only screen and (max-width: 700px) {
  .App-body-wrapper {
    max-width: var(--country-table-width);
    width: 80%;
  }
}